<div class="container mt-2">
    <h1>Sudoku</h1>
    <div class="btn-group" role="group" aria-label="Game modes">
        <a class="btn btn-dark" ui-sref="mode({ mode: 'test' })">For test only</a>
        <a class="btn btn-dark" ui-sref="mode({ mode: 'veryEasy' })">Very easy</a>
        <a class="btn btn-dark" ui-sref="mode({ mode: 'easy' })">Easy</a>
        <a class="btn btn-dark" ui-sref="mode({ mode: 'medium' })">Medium</a>
        <a class="btn btn-dark" ui-sref="mode({ mode: 'hard' })">Hard</a>
    </div>
</div>