<div class="container">
    <div>
        <label>
            <input type="checkbox" ng-model="$ctrl.settings.lazyMode">
            Lazy mode
        </label>
    </div>
    <div ng-if="!$ctrl.settings.length">
        <button ng-click="$ctrl.veryEasy()">Very easy</button>
        <button ng-click="$ctrl.easy()">Easy</button>
        <button ng-click="$ctrl.medium()">Medium</button>
        <button ng-click="$ctrl.hard()">Hard</button>
    </div>
    <box ng-if="$ctrl.settings.length" mode="$ctrl.mode"></box>
</div>