$mark: #fd7e14;
$pseudoMark: #fff782;

.box {
  width: 28.25rem;
  height: 28.25rem;
  border-left: 2px solid #343a40;
  border-top: 2px solid #343a40;
  font-size: 0;
  box-sizing: border-box;
}
cell {
  display: inline-block;

  &:nth-of-type(3n) .cell-input {
    border-right: 2px solid #343a40;
  }
  &:nth-of-type(n+19):nth-of-type(-n+27) .cell-input,
  &:nth-of-type(n+46):nth-of-type(-n+54) .cell-input,
  &:nth-of-type(n+73):nth-of-type(-n+81) .cell-input {
    border-bottom: 2px solid #343a40;
  }
}
.cell-input {
  width: 3.125rem;
  height: 3.125rem;
  font-size: 1.875rem;
  text-align: center;
  border: 1px solid #343a40;
  box-sizing: border-box;

  &[readonly]:hover {
    cursor: pointer;
  }

  &.cell-mark {
    background-color: $mark;
  }
}

.numbers {
  margin-top: 1.25rem;
  font-size: 1.875rem;
  font-weight: bold;
  overflow: hidden;
}
.number {
  width: 3.1875rem;
  height: 3.1875rem;
  line-height: 1.875rem;
  text-align: center;
  font-size: 1.25rem;
}

.number-disabled {
  opacity: 0.65;
}

.display-modal {
  display: block;
  padding-right: 1rem;
}